<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="site-header">
        <div class="container header-inner">
           <a href="/" class="logo">
                <img src="{{ url_for('static', path='images/logo.png') }}" alt="Pas CLI logo" class="logo-image">
                <span class="logo-text">Pas CLI</span>
            </a>

            <nav class="main-nav">
                <a href="/product">Product</a>
                <a href="/how_it_works">How It Works</a>
                <a href="/pricing">Pricing</a>
                <a href="/security">Security</a>
                <a href="/web/docs">Docs</a>
                <a href="/faq">FAQ</a>
            </nav>

            <div class="header-actions">
                <a href="/login" class="login-link">Login</a>
                <a href="/register" class="signup-btn">Sing Up</a>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="site-footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer-brand">
                    <a href="/" class="logo">
                        <img src="{{ url_for('static', path='images/logo.png') }}" alt="Pas CLI logo" class="logo-image">
                        <span class="logo-text">Pas CLI</span>
                    </a>

                    <p>
                        A secure, API-first CLI password manager
                        for developers.
                    </p>

                    <div class="socials">
                        <a href="https://web.telegram.org/k/#@Bot_Passwordbot">
                            <img src="{{ url_for('static', path='images/telegram.png') }}" alt="Telegram">
                        </a>
                        <a href="https://github.com/Scroll07/Passwords_Fastapi">
                            <img src="{{ url_for('static', path='images/github.png') }}" alt="Git Hub">
                        </a>
                        <a href="mailto:vovanikolaev140707@gmai.com">
                            <img src="{{ url_for('static', path='images/gmail.png') }}" alt="Gmail">
                        </a>
                    </div>
                </div>

                <div class="footer-column">
                    <h3>Product</h3>
                    <a href="/product">Features</a>
                    <a href="/how-it-works">How It Works</a>
                    <a href="/pricing">Pricing</a>
                    <a href="/security">Security</a>
                </div>

                <div class="footer-column">
                    <h3>Resources</h3>
                    <a href="/web/docs">Documentation</a>
                    <a href="/faq">FAQ</a>
                    <a href="#">API Reference</a>
                    <a href="#">Status</a>
                </div>

                <div class="footer-column">
                    <h3>Company</h3>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                    <a href="#">Privacy</a>
                    <a href="#">Terms</a>
                </div>
            </div>

            <div class="footer-bottom">
                <p>© 2026 Pas CLI. All rights reserved.</p>

                <div class="footer-legal">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">Cookie Policy</a>
                </div>
            </div>
        </div>
    </footer>


    {% block extra_script %}{% endblock %}
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>
</html>