{% extends "base.html" %}

{% block title %}Dashboard - Pas CLI{% endblock %}

{% block content %}
<main>
    <section class="dashboard-section">
        <div class="container">
            <div class="dashboard-header">
                <div>
                    <h1>Hello, user</h1>
                    <p>Session active — API connected</p>
                </div>

                <form action="{{ url_for('web_logout') }}", method="post">
                    <button id="dashboard-logout" class="dashboard-logout" type="submit">Log out</button>
                </form>
                <!-- <a href="{{ url_for('logout') }}" id="dashboard-logout" class="dashboard-logout">Log out → ИСПРАВИТЬ СДЕЛАТЬ JS отправка post запроса при нажатии на /web/logout</a> -->
            </div>

            <div class="dashboard-block">
                <h2>Backups</h2>

                <table class="dashboard-table">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>date</th>
                            <th>rows</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for backup in backups %}
                        <tr>
                            <td>
                                <a href={{ url_for('user_backup', backup_id=backup.id) }} class="backup-name">{{ backup.name }}</a>
                            </td>
                            <td>{{ backup.created_at }}</td>
                            <td>{{ backup.rows }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{% endblock %}