{% extends "base.html" %}

{% block title %}Change password - Pas CLI{% endblock %}

{% block content %}
<main>
    <section class="auth-section">
        <div class="auth-container">
            <div class="auth-card">
                <h1>Change password</h1>

                <form class="auth-form" id="auth-form" method="post" action="{{ url_for('forgot_password') }}">
                    <div class="form-group">
                        <label for="username">username</label>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            placeholder="username"
                            required
                        >
                    </div>

                    <div class="form-group">
                        <label for="current_password">current password</label>
                        <input
                            type="password"
                            id="current_password"
                            name="current_password"
                            placeholder="••••••••"
                            required
                        >
                    </div>

                    <div class="form-group">
                        <label for="new_password">new password</label>
                        <input
                            type="password"
                            id="new_password"
                            name="new_password"
                            placeholder="••••••••"
                            required
                        >
                    </div>

                    <button type="submit" class="auth-submit">Update password</button>
                </form>

                <div class="auth-links auth-links-center">
                    <p>Remembered? <a href="{{ url_for('login') }}">Log in</a></p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block extra_script %}
<script>
    const form = document.getElementById("auth-form")

    if (form) {
        form.addEventListener("submit", async function(event) {
            event.preventDefault()

            const username = document.getElementById("username").value
            const current_password = document.getElementById("current_password").value
            const new_password = document.getElementById("new_password").value

            const response = await fetch(
                "/web/change-password",
                {
                    method: "PATCH",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "username": username,
                        "current_password": current_password,
                        "new_password": new_password
                    })
                }
            )
            const data = await response.json()

            if (!response.ok) {
                if (Array.isArray(data.detail)) {
                    alert(data.detail[0].msg)
                } else {
                    alert(data.detail)
                }
                console.log(data)
                return
            }

            document.location.href = "/web/login"
        })
    }
</script>
{% endblock %}
