{% extends "base.html" %}

{% block title %}Login - Pas CLI{% endblock %}

{% block content %}
<main>
    <section class="auth-section">
        <div class="auth-container">
            <div class="auth-card">
                <h1>Login</h1>

                <form class="auth-form" id="auth-form" method="post" action="/web/login">
                    <div class="form-group">
                        <label for="username">username</label>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            placeholder="username"
                            required
                        >
                    </div>

                    <div class="form-group">
                        <label for="password">password</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="••••••••"
                            required
                        >
                    </div>

                    <button type="submit" class="auth-submit">Sign in</button>
                </form>

                <div class="auth-links">
                    <a href="#">Forgot password</a>
                    <p>Don’t have an account? <a href="/register">Sign up</a></p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block extra_script %}
<script>
    const form = document.getElementById("auth-form")

    if (form) {
        form.addEventListener('submit', async function(event) {
            event.preventDefault()

            const username = document.getElementById("username").value
            const password = document.getElementById("password").value
            
            const response = await fetch(
                "/web/login",
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                            "username": username,
                            "password": password
                        })
                }
            )
            const data = await response.json()
            if (!response.ok) {
                if (Array.isArray(data.detail)) {
                    alert(data.detail[0].msg)

                }
                else {
                    alert(data.detail)
                } 
                console.log(data)
                return
            }

            document.location.href = "/"
        })
    }
    
</script>
{% endblock %}